node_modules/
frontend/node_modules/
Backend/node_modules/
build/
dist/
.env
.DS_Store
.vscode/
.idea/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage/
*.log
*.tgz
*.lock
/.parcel-cache
/.pnp
/.pnp.js
.cache/
uploads/
*.sqlite
*.db
